<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div><%= htmlWebpackPlugin.options.buildTime %></div>
        <div id="root">
    </body>

</html>